:root {
    /* Primary */
    --color-blue-500: hsl(215, 51%, 70%);
    --color-cyan-400: hsl(178, 100%, 50%);
    --color-cyan-400-50: hsla(178, 100%, 50%, 0.5);
    /* Neutral */
    --color-blue-950: hsl(217, 54%, 11%);
    --color-blue-900: hsl(216, 50%, 16%);
    --color-blue-800: hsl(215, 32%, 27%);
    --color-white: hsl(0, 0%, 100%);
    --color-white-30: hsla(0, 0%, 100%, 0.3);
    --color-white-50: hsla(0, 0%, 100%, 0.5);
    /* Typography */
    --font-family-base: 'Outfit', sans-serif;
    --font-size-body: 18px;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-color-main: var(--color-white);
    /* background */
    --bg-main: var(--color-blue-950);
    --bg-card: var(--color-blue-900);
    /* width */
    --width-mobile: 330px;
    --width-desktop: 1100px;
    /* hover */
    --hover-color: var(--color-cyan-400);
    --hover-bg: var(--color-cyan-400-50);
    /* shadow */
    --shadow-color: 0deg 0% 0%;
    --shadow-elevation-high:
    0px 0.4px 0.4px hsl(var(--shadow-color) / 0.4),
    -0.2px 2.2px 2.4px -0.4px hsl(var(--shadow-color) / 0.39),
    -0.3px 4.2px 4.6px -0.8px hsl(var(--shadow-color) / 0.38),
    -0.6px 7.1px 7.7px -1.2px hsl(var(--shadow-color) / 0.37),
    -0.9px 11.6px 12.7px -1.6px hsl(var(--shadow-color) / 0.36),
    -1.5px 18.5px 20.2px -2px hsl(var(--shadow-color) / 0.35),
    -2.3px 28.4px 31px -2.4px hsl(var(--shadow-color) / 0.34),
    -3.4px 42.2px 46px -2.7px hsl(var(--shadow-color) / 0.34);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    background-color: var(--bg-main);
    color: var(--font-color-main);
    font-family: var(--font-family-base);
}
.sr-only {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
}
.card {
    margin: 0 1.4rem;
    border-radius: 1rem;
    background-color: var(--bg-card);
    padding: 1.6rem;
    width: 100%;
    max-width: var(--width-mobile);
    box-shadow: var(--shadow-elevation-high);
}
.card__image-wrapper {
  position: relative;
  margin-bottom: 1.6rem;
  border-radius: .6rem;
  overflow: hidden;
  cursor: pointer;
}
.card__overlay {
    position: absolute;
    background-color: var(--hover-bg);
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.card__overlay:hover {
    opacity: 1;
}
.card__caption {
    font-size: 22px;
    font-weight: var(--font-weight-semibold);
}
.card__link, .card__link {
    color: var(--color-white);
    transition: color .5s ease;
}
.card__link:hover, .card__link:hover {
    color: var(--hover-color);
}
.card__intro{
    margin-top: 1.2rem;
    line-height: 1.6;
    color: var(--color-white-50);
}
.card__info{
    display: flex;
    justify-content: space-between;
    margin-top: .8rem;
}
.card__price, .card__date {
    display: flex;
    align-items: center;
}
.card__price {
    color: var(--color-cyan-400)
}
.card__date {
    color: var(--color-white-50);
}
.card__icon--ethereum, .card__icon--clock {
    margin-right: .45rem;
}
.card__separator {
    margin: 1rem 0;
    border: none;
    border-top: 1px solid var(--color-white-30);
}
.card__footer {
    display: flex;
    align-items: center;
}
.card__avatar {
    width: 2rem;
    margin-right: 1rem;
}

.card__avatar .card__image{
    border-radius: 50%;
    outline: 1px solid var(--color-white);
    overflow: hidden;
}

.card__avatar .card__image, .card__media .card__image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.card__creator {
    color: var(--color-white-50);
}
.attribution {
    position: absolute;
    bottom: 0;
}
.attribution a {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .card {
        max-width: 350px;
    }
    .card__intro {
        font-size: 1.1rem;
    }
    .card__info{
        margin-top: 1.4rem;
    }
    .card__separator{
        margin: 1.2rem 0;
    }
}